Array Length = {{itemsArrayTypeOne.length}}
<virtual-scroll [items]="itemsArrayTypeOne" #scroll1
                [childWidth]="80"
                (change)="loadMoreTypeOne($event)">

  <div *ngFor="let item of scroll1.viewPortItems" class="list-item">{{item.name}}</div>
</virtual-scroll>
<pagination
  [(ngModel)]="paginateConfigTypeOne.currentPage"
  [totalItems]="paginateConfigTypeOne.totalItems"
  [itemsPerPage]="paginateConfigTypeOne.itemsPerPage"
  (pageChanged)="pageChangedTypeOne($event)">
</pagination>

<br>

Array Length = {{itemsArrayTypeTwo.length}}
<virtual-scroll [items]="itemsArrayTypeTwo" #scroll2
                [childWidth]="80"
                (change)="loadMoreTypeTwo($event)">

  <div *ngFor="let item of scroll2.viewPortItems" class="list-item">{{item.name}}</div>
</virtual-scroll>

<button (click)="previous()">Previous</button>
<button (click)="next()">Next</button>
<br>
<br>


Array Length = {{itemsArrayTypeThree.length}}
<virtual-scroll [items]="itemsArrayTypeThree" #scroll3
                [childWidth]="80"
                (change)="loadMoreTypeThree($event)">

  <div *ngFor="let item of scroll3.viewPortItems" class="list-item">{{item.name}}</div>
</virtual-scroll>


------------------------------------------------------------------------



